openapi: 3.0.1
info:
  title: I_AccountManager_Service
  description:  Über diese Schnittstelle wird der KIM Account verwaltet
  version: 1.1.0
  # 1.1.0 Authentisierung mit HBA/SMC-B AUT Zertifikat hinzugefügt
externalDocs:
  description: Gitlab
  url: http://www.gematik.de
servers:
- url: https://to.be.defined/v1/
tags:
- name: AccountManager

paths:
  /accmgr/register/:
    put:
      tags:
      - I_AccountManager_Service
      summary: Einen Account registrieren
      description: Der Account wird registriert und als Ergebnis die PKCS#12 Datei zurückgegeben
                #  Wird die Operation nach erfolgreicher Registrierung erneut aufgerufen, dann wird die PKCS#12 Datei zurückgegeben
      operationId: register
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/register/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Zertifikat wird zurückgegeben 
          content:
           multipart/form-data:
            schema:
             properties:
               file:
                 type: array
                 items:
                    type: string
                    format: binary
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/deregister/:
    put:
      tags:
      - I_AccountManager_Services
      summary: Einen Account registrieren
      description: Der Account wird deregistriert
      operationId: deregister
      
      parameters:
      - in: header
        name: Username
        description: Nutzername
        required: true
        schema:
          type: string
      - in: header
        name: Password
        description: Passwort
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/deregister/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: OK
          # Erfilgreich deregistriert 
          content: {}
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/register-state/:
    get:
      tags:
      - I_AccountManager_Services
      summary: Status vom Account ermitteln
      description: Der Status vom Account wird zurückgegeben
      operationId: register_State
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/register-state/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: OK
          # Account Status wird zurückgegeben 
          content:
            application/json:
             schema: 
               type: string
               enum: [registered, deregistered, unknown]
               example: registered
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/cm-version/:
    get:
      tags:
      - I_AccountManager_Services
      summary: Dem Account Manager vom Fachdienst wird die KIM Version vom Client-Modul übergeben
      description: Die Version vom CM wird dem Account Manager (FD) übergeben
      operationId: cm_Version
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string

      - in: header
        name: KIM-Version
        description: Die Version vom Clientmodul wird dem Fachdienst mitgeteilt.
        #            (Der Fachdienst verwaltet die Versionsangeben im Verzeichnisdienst)
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/cm-version/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Version erfolgreich übergeben 
          content: {}
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/pw/:
    put:
      tags:
      - I_AccountManager_Services
      summary: Passwort vom Account wechseln
      description: Das Passwort wird aktualisiert
      operationId: pw_Change
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
      - in: header
        name: password
        description: Aktuelles Passwort
        required: true
        schema:
          type: string

      - in: header
        name: newPassword
        description: Neues Passwort
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/pw/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Passwort wurde aktualisiert 
          content: {}
        400:
          description: Bad Request
          # Das neue Passwot entspricht nicht den Regeln
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
