openapi: 3.0.1
info:
  title: I_AccountManager_Service
  description:  Über diese Schnittstelle wird der KIM Account verwaltet.
  #  Für alle Operationen muss der Zeichensatz "utf-8” unterstützt werden.
  version: 1.1.2
  # 1.1.0 Authentisierung mit HBA/SMC-B AUT Zertifikat hinzugefügt
  # 1.1.1 Aufnahme der API-Versionierung in der URI und Detaillierung des FQDN des Accountmanagers
  # 1.1.2 Parameter referenceID in die register Operation aufgenommen und Format der Parameter konkretisiert
externalDocs:
  description: Gitlab Dokumentation
  url: http://www.gematik.de
servers:
- url: https://account-manager.hrst1.kim.telematik/v1.0/
  # <hrst1> ist der Platzhalter für den Fachdienstbetreiber
tags:
- name: AccountManager

paths:
  /accmgr/register/:
    put:
      tags:
      - I_AccountManager_Service
      summary: Einen Account registrieren
      description: Der Account wird registriert und als Ergebnis die PKCS#12 Datei zurückgegeben
                #  Wird die Operation nach erfolgreicher Registrierung erneut aufgerufen, dann wird die PKCS#12 Datei zurückgegeben
      operationId: register
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: referenceID
        description: Der KIM Anbieter kann den Inhalt dieses Parameters festlegen.
                     Er kann z.B. eine Vertragsnummer oder einen Registrierungskode enthalten. Der KIM Anbieter muss seine KIM Teilnehmer über die Nutzung dieses Parameters informieren.
                     Alle Administrationsmodule (bzw. Clientmodule) müssen diesen Parameter - wegen der Interoperabilität mit allen KIM Fachdiensten - unterstützen.
        schema:
          type: string
          maxLength: 256
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
          format: password
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/register/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  #    Als Signature Type muss PKCS#1-Signatur gewählt werden (und nach Unterstützung durch alle Konnektoren ECDSA-Signatur).
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Zertifikat wird zurückgegeben 
          content:
           multipart/form-data:
            schema:
             properties:
               file:
                 type: array
                 items:
                    type: string
                    format: binary
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/deregister/:
    put:
      tags:
      - I_AccountManager_Services
      summary: Einen Account deregistrieren
      description: Der Account wird deregistriert
      operationId: deregister
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/deregister/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  #    Als Signature Type muss PKCS#1-Signatur gewählt werden (und nach Unterstützung durch alle Konnektoren ECDSA-Signatur).
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: OK
          # Erfolgreich deregistriert 
          content: {}
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/register-state/:
    get:
      tags:
      - I_AccountManager_Services
      summary: Status vom Account ermitteln
      description: Der Status vom Account wird zurückgegeben
      operationId: register_State
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/register-state/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  #    Als Signature Type muss PKCS#1-Signatur gewählt werden (und nach Unterstützung durch alle Konnektoren ECDSA-Signatur).
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: OK
          # Account Status wird zurückgegeben 
          content:
            application/json:
             schema: 
               type: string
               enum: [registered, deregistered, unknown]
               example: registered
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/cm-version/:
    get:
      tags:
      - I_AccountManager_Services
      summary: Dem Account Manager vom Fachdienst wird die KIM Version vom Client-Modul übergeben
      description: Die Version vom CM wird dem Account Manager (FD) übergeben
      operationId: cm_Version
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: kim-version
        description: Die KIM-Version vom Clientmodul wird dem Fachdienst mitgeteilt.
        #            (Der Fachdienst verwaltet die Versionsangeben im Verzeichnisdienst)
        required: true
        schema:
          type: string
          maxLength: 256
          example: "1.5"
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/cm-version/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  #    Als Signature Type muss PKCS#1-Signatur gewählt werden (und nach Unterstützung durch alle Konnektoren ECDSA-Signatur).
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Version erfolgreich übergeben 
          content: {}
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
##--
##------

  /accmgr/pw/:
    put:
      tags:
      - I_AccountManager_Services
      summary: Passwort vom Account wechseln
      description: Das Passwort wird aktualisiert
      operationId: pw_Change
      
      parameters:
      - in: header
        name: username
        description: Nutzername
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: password
        description: Passwort
        required: true
        schema:
          type: string
          maxLength: 256
      - in: header
        name: newPassword
        description: Neues Passwort
        required: true
        schema:
          type: string
      - in: header
        name: nonce
        description: Zufälliges 256bit Nonce
        required: true
        schema:
          type: string
      - in: header
        name: timestamp 
        description: Unix-Timestamp mit der aktuellen Zeit
        required: true
        schema:
          type: string
      - in: header
        name: signedHash 
        description: Signierter Hash Wert der Request Parameter
                  # Bildungsvorschrift für den zu signierenden String:
                  # 1. Der Pfad /accmgr/pw/ und die Werte aller Parameter des Requests werden zu einem String zusammengefügt
                  # 2. Bildung des Hash von diesem String entsprechend A_19644 [gemSpec_Krypt]
                  # 3. Signatur von diesem Hash mit Operation ExternalAuthenticate [gemSpec_Kon] mit dem AUT Zertifikat der - zum Account passenden - HAB bzw. SMC-B
                  #    Als Signature Type muss PKCS#1-Signatur gewählt werden (und nach Unterstützung durch alle Konnektoren ECDSA-Signatur).
                  # 4. Das Signature Object aus dem Ergebnis von ExternalAuthenticate wird in diesen Parameter eingefügt
        required: true
        schema:
          type: string

      responses:
        200:
          description: OK
          # Passwort wurde aktualisiert 
          content: {}
        400:
          description: Bad Request
          # Das neue Passwot entspricht nicht den Regeln
        401:
          description: Unauthorized
          # Nutzername / Passwort Fehlerhaft oder Signaturprüfung fehlgeschlagen
          content: {}
