openapi: 3.0.1
info:
  title: I_Attachment_Service
  description:  Über diese Schnittstelle können verschlüsselte E-Mail-Anhänge <br>
                hochgeladen und bereitgestellt werden. 
  version: 2.0.0
  ### 2.0.0 
  # added Client Authentication for add_Attachment operation
  # changed URI for operations add_attachment and read_attachment
  # added error message strings
  # added HTTP error code 500
  ### 1.1.0 
  # changed data type in read_MaxMailSize()
  # changed error code 405 to 400 in add_Attachment() 
  # changed MIME type multipart/form-data to application/octect-stream in add_Attachment() and read_Attachment() 
  ### 1.0.1
  # added errorcode 413 in operation add_Attachment()
  ### 1.0.0
  # extended URI to interface releases 
  ### 0.0.1 
  # initial Version of I_Attachment_Service 

externalDocs:
  description: GitHub - Dokumentation
  url: https://github.com/gematik/api-kim
servers:
- url: https://kas.hrst1.kim.telematik/v2.0/
tags:
- name: Attachments

paths:
##--
##------
  /attachment/{attachmentId}:
    get:
      tags:
      - Attachments
      summary: Einen Anhang herunterladen
      description: gibt den unter einem Freigabelink verschlüsselten Anhang zurück
      operationId: read_Attachment
      
      parameters:
      - name: attachmentId
        in: path
        description: Link-Referenz auf den verschüsselten Anhang im Dienst
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: OK
             # Anhang wurde erfolgreich heruntergeladen 
          content:
           application/octet-stream:
            schema:
             type: string
             format: binary
        404:
          description: Ressource unter dem angegebenen Link nicht gefunden
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
        500:
          description: Internal Server Error          
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'                  
##--
##------
  /attachment/:
    post:
      tags:
      - Attachments
      summary: Einen Anhang hinzufügen
      description: Ein verschlüsselter Anhang wird unter einem neu erzeugten Freigabe-Link hinzugefügt
      operationId: add_Attachment

      security:
        - basicAuth: []
        # Die Authentifizierung erfolgt mit username/password von dem Mail Account
        
      requestBody:
        content:
          application/octet-stream:
            schema:
             type: string
             format: binary
        required: true

      responses:
          201:
            description: Created
                       #  Der Anhang wurde erfolgreich unter dem angegebenen Freigabelink erzeugt. 
            content:
             application/json:
              schema:
               properties:
                 Shared-Link:
                   type: string
                    # Enthält den Freigabelink
                    # Über den Freigabelink kann der Anhang vom KAS abgerufen werden. Der Freigabelink enthält die - in Operation read_Attachment nötige - attachmentID.
          400:
            description: Bad request 
                     # Fehler in den Eingangsdaten, Beschreibung des Fehlers erfolgt in dem Fehlertext
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
          401:
            description: Authentifizierung fehlgeschlagen.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
          413:
            description: Payload Too Large
            # Die maximal zulässige Dokumentengröße wurde überschritten 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'        
          500:
            description: Internal Server Error          
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
##--
##------               
  /MaxMailSize:
     get:
      tags:
      - MaxMailSize
      summary: Die maximale Größe einer KIM-Mail ermitteln
      description: Gibt die maximale Größe einer gesamten KIM-Mail inklusive aller Anhänge (Mail base64 kodiert) zurück. 
                   Dieser Wert wird auf dem Fachdienst definiert und bleibt über längere Zeit konstant.
                   Eine Abfrage ist deshalb nicht für jede Mail erforderlich (Empfohlen wird die tägliche Abfrage)
      operationId: read_MaxMailSize

      responses:
        200:
          description: OK
                # Gibt die maximale Größe einer KIM-Mail in Bytes zurück
          content:
            application/json:            
             schema:
              properties:
               MaxMailSize:
                 type: "integer"     
                 format: int64
                 example: 734003200
        500:
          description: Internal Server Error          
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                 
components:

  schemas:
  
    Error:
      type: object
      properties:
        message:
          type: string
  
  securitySchemes: 
    basicAuth: 
      type: http
      scheme: basic